* {
  --color-white: #f3e3e3;
  --color-brown: #443c3c;
  --color-text: var(--color-brown);
  --piano-color-primary: #f5f5f5;
  --piano-color-secondary: #373737;
  --piano-color-active: #e7c8c8;
  --piano-color-isKey: #c47575;
  --ui-border-radius: 8px;
  --piano-key-white-height: 24em;
  --piano-key-margin: -1.34em; /* TODO: --piano-key-white-height / 18 and negated round up*/
  --piano-key-white-width: calc(var(--piano-key-white-height) / 4);
  --piano-key-black-height: calc(var(--piano-key-white-height) / 1.5);
  --piano-key-black-width: calc(var(--piano-key-black-height) / 6);
  --piano-key-font-size: 20px;
  --text-size-default: 15px;
  --text-size-h2: 32px;
  --text-size-h3: 20px;
  --container-padding: 0.75em 0.75em 0 0.75em;
  --scale-view-item-margin: 2.5px;
}

.App {
  display: flex;
  /* width: 100vw; */
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #443c3c;
  color: var(--color-text);
  font-family: 'Roboto Mono', monospace;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background: #f3e3e3;
  border-radius: 20px;
  max-width: 1100px;
  padding: 26px;
  margin: 1rem;
}

.main {
}

.navigation {
  display: flex;
  width: 100%;
}
.navigation-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.search {
  padding: 0.75em 1.5em;
  background: transparent;
  border: 2px solid var(--color-white);
  border-radius: var(--ui-border-radius);
  color: var(--color-white);
  margin-left: 1em;
  outline: none;
}
.search:focus {
  border-color: var(--color-white);
}

.header-content {
  text-align: center;
}

header h2 {
  font-size: var(--text-size-h2);
  margin-top: 0.25em;
}

#scale-name {
  display: flex;
  padding-bottom: 6px;
}

.instruments {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.instruments-options {
  display: flex;
  gap: 0.5rem;
}
.instruments-options .icon {
  padding: 0 0.5em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--container-padding);
}

.contact {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.contact a {
  color: var(--color-text);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a.icon {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid var(--color-white);
  border-radius: var(--ui-border-radius);
}
a.icon.visible {
  border-color: var(--color-brown);
}
a.icon svg {
  height: 3.5em;
  width: 3.5em;
  fill: var(--color-brown);
}

/* Scales */
.scales-view {
  display: flex;
  flex-direction: column;
}
.scale-view h3 {
  text-decoration: underline;
}
.scale-view .keys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em 0;
}
.scale-view .keys .key {
  padding: 6px 13px;
  margin: var(--scale-view-item-margin);
  border: 2px solid var(--piano-color-secondary);
  border-radius: var(--ui-border-radius);
  color: var(--color-text);
}
.scale-view .keys .key.current {
  border-color: var(--piano-color-isKey);
}

.scale-view .modes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em 0;
}
.scale-view .modes .mode {
  padding: 5px 13px;
  margin: var(--scale-view-item-margin);
  border: 2px solid var(--piano-color-secondary);
  border-radius: var(--ui-border-radius);
  color: var(--color-text);
}
.scale-view .modes .mode.current {
  border-color: var(--piano-color-isKey);
}

/* PIANO */
.piano.hidden{
  display: none;
}
.piano {
}
.piano-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.piano .key {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.piano .key:last-child {
  border-radius: 0 var(--ui-border-radius) var(--ui-border-radius) 0;
}
.piano .key:first-child {
  border-radius: var(--ui-border-radius) 0 0 var(--ui-border-radius);
}
.piano .key.E,.D,.G,.A,.B {
  margin:0 0 0 var(--piano-key-margin)
}

.piano .key p {
  padding: 1em 0;
  font-size: var(--piano-key-font-size);
}

.piano .key.white {
  height: var(--piano-key-white-height);
  width: var(--piano-key-white-width);
  z-index:1;
  color: var(--piano-color-secondary);
  background:linear-gradient(to bottom,var(--color-white) 0%, var(--piano-color-primary) 100%);
}

.piano .key.black{
  height:var(--piano-key-black-height);
  width:var(--piano-key-black-width);
  margin:0 0 0 var(--piano-key-margin);
  z-index:2;
  color: var(--piano-color-primary);
  background:linear-gradient(45deg,var(--piano-color-secondary) 50%,#000 100%);
}
.piano .key.black span {
  padding: 1em 0;
}
.piano .key.black p {
  padding: 0;
}

.piano .key[active=true] {
  background: var(--piano-color-active);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: var(--piano-color-secondary);
}
.piano .key[iskey="true"] {
  background: var(--piano-color-isKey);
  text-decoration: underline;
}

/* GUITAR */
.guitar {
}

.guitar .guitar-container {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

.guitar .guitar-container .string {
  display: flex;
  flex-direction: row;
}
.guitar .guitar-container .string .note {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  border-right: 2px solid var(--color-brown);
  width: 4rem;
  height: 2rem;
}
.guitar .guitar-container .string .note[fret="0"] {
  border-left: 2px solid var(--color-brown);
}
.guitar .guitar-container .string .note p {
  text-align: center;
  flex: 1;
}
.guitar .guitar-container .string .note p {
  position: relative;
  z-index: 1;
}
.guitar .guitar-container .string .note p:before {
  border-top: 2px solid var(--color-brown);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.guitar .guitar-container .string .note span{
  background-color: var(--color-white);
  padding: 4px 6px  ;
}

.guitar .guitar-container .string .note[active=true]{
  background-color: var(--piano-color-active);
}
.guitar .guitar-container .string .note[iskey=true]{
  background-color: var(--piano-color-isKey);
}

.guitar .guitar-container .string .note[active=true] span{
  background-color: var(--piano-color-active);
}
.guitar .guitar-container .string .note[iskey=true] span{
  background-color: var(--piano-color-isKey);
}

.guitar .fret-helper {
  display: flex;
  justify-content: space-around;
}

.guitar .fret-helper .fret-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 2rem;
}

.numbers {
  display: flex;
  padding: 1rem 1px;
  justify-content: space-around;
}

.tooltip {
  color: var(--color-text);
  text-decoration: none;
  font-size: 12px;
  padding: 0px 6px;
  margin-left: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  border: 2px solid  var(--color-text);
}
.tooltip:hover {
  position: relative;
  cursor: pointer;
}
.tooltip-bottom:hover:after{
  background: var(--color-brown);
  font-size: var(--text-size-default);
  content: attr(data-tooltip);
  padding: 6px 12px;
  position: absolute;
  left: 0;
  top: 100%;
  white-space: nowrap;
  color: var(--color-white);
  border-radius: 4px;
}

/* Responsive code */

@media only screen
  and (min-width: 320px)
  and (max-width: 360px) {
  * {
    --piano-key-white-height: 9em;
    --piano-key-margin: -0.5em;
    --piano-key-font-size: 12px;
    --text-size-default: 12px;
    --text-size-h2: 26px;
    --text-size-h3: 18px;
    --container-padding: 0.75em 0.75em 0 0.75em;
    --scale-view-item-margin: 2.5px;
  }

  .instruments {
    margin-left: 8px;
  }
}

@media only screen
  and (min-width: 360px)
  and (max-width: 440px) {
  * {
    --piano-key-white-height: 10em;
    --piano-key-margin: -0.56em;
    --piano-key-font-size: 14px;
  }
}

@media only screen
  and (min-width: 440px)
  and (max-width: 666px)
  {
  * {
    --piano-key-white-height: 12em;
    --piano-key-margin: -0.67em;
    --piano-key-font-size: 16px;

  }
}

@media only screen
  and (min-width: 666px)
  and (max-width: 820px)
  {
  * {
    --piano-key-white-height: 16em;
    --piano-key-margin: -0.89em;
  }
}

@media only screen
  and (min-width: 820px)
  and (max-width: 1000px)
  {
  * {
    --piano-key-white-height: 20em;
    --piano-key-margin: -1.12em;
  }
}


@media only screen
  and (max-width: 1200px)
  {
    .App {
      background-color: #f3e3e3;
    }

    /* fix: mobile smal screens */
    body {
      background-color: #f3e3e3;
    }

    .contact a {
      color: var(--color-text);
    }
}